
.App{
  display: flex;
  flex-direction: row;
}

body, html, #root {
height: 100%;
width: 100%;
}

.LoginPage {
  display: flex;
 justify-content: center;
  align-items: center;
  height: 100%;
}

.LoginContainer {
  width: 20rem;
  background-color: #393939;
  border-radius: 20px;
  margin: auto;
  height: 20rem;
  padding: 40px;
}

.LoginContainer > form > div {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.LoginContainer > form>button {
  margin-top: 40px;
  margin-right: 10px;
}
.SideBar {
  height: 100dvh;
  background-color: #1a1a1a;
  width: 90px;
  display:flex;
  flex-direction: column;
}

.SideBar > * {
  color: white;
}

.Icon {
  width: 100%;
  size: 5;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#2f2f2f;
}

.Icon > img {
  width: 60%;
  margin-left:15px;
}


.Icon:hover {
  background-color: #252525;
  color: rgb(158, 158, 158);
}

.Icon:active {
  background-color: #151515;
  color: grey;
}

.CollectionPage {
  width: 100%;
}

.HomePage {
  width: 100%;
}

.TopBar {
  height: 90px;
  display:flex;
  text-align: center;
  justify-content: space-between;
  background-color: rgb(62, 62, 62);
}

.TopBar > h2 {
  margin-left: 20px;
}

.RightSide {
  display: flex;
  flex-direction: row;
}


.SearchBar {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.SearchBar > input {
  height: 30px;
  border-radius: 10px;
  border-style: none;
  background-color: rgb(91, 91, 91);
}

.Collection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.CollectionItem {
  position: relative;
  margin: 20px;
  width: 250px;
  height: 450px;
  outline: solid grey 2px;
  border-radius: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: transform .3s;
  background-color: #2f2f2f;
  box-shadow: 10px 10px 5px 0px rgba(20, 20, 20, 0.75);
}

.CollectionItem:hover {
  transform: scale(1.15);
}

.CollectionItem > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.CollectionItem > h3 {
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
}

.ItemTitleEdit {
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-top:20px;
  font-size:20px;
}

.ItemDescEdit {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

.CollectionItem > p {
  padding-left: 20px;
  padding-right: 20px;
}

.RemoveButton {
  position: absolute;
  background-color: none;
  margin: 20px;
  bottom: 0;
  z-index: 500;
}

.SaveButton {
  position: absolute;
  background-color: none;
  margin: 20px;
  bottom: 0;
  z-index: 500;
}
.SaveButton > button{
  font-size: 10px;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 30px;
  background-color: rgb(0, 197, 0);
}
.SaveButton > button:hover{
  background-color: rgb(0, 154, 0);
}

.SaveButton > button:active{
  background-color: rgb(0, 83, 0);
}

.RemoveButton > button{
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 30px;
  background-color: red;
}

.RemoveButton > button:hover {
  background-color: rgb(219, 0, 0);
}

.RemoveButton > button:active {
  background-color: rgb(143, 0, 0);
  transform:scale(0.9);
}

.EditButton {
    position: absolute;
  background-color: none;
  margin-left: 60px;
  margin-bottom: 20px;
  bottom: 0;
  z-index: 500;
}

.EditButton > button{
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 30px;
  background-color: rgb(119, 119, 119);
}

.EditButton > button:hover {
  background-color: rgb(87, 87, 87);
}

.EditButton > button:active {
  background-color: rgb(62, 62, 62);
  transform:scale(0.9);
}

.AddButton {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.AddButton > button{
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  background-color: rgb(0, 197, 0);
}

.AddButton > button:hover {
  background-color: rgb(0, 154, 0);
}

.AddButton > button:active {
  background-color: rgb(0, 83, 0);
  transform:scale(0.9);
}

.Group {
  width: 100%;
  display: flex;
}

.GroupContainer
{
  position: relative;
  display: flex;
  height: 100px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #2f2f2f;
  border-radius: 20px;
  overflow: hidden;
  transition: transform .3s;
  color: white;
}

.GroupContainer > button {
  width: 10%;
}

.bigedit {
  border-radius: 0;
  border: none;
  font-weight: bolder;
  font-size: 2em;
  padding-bottom: 13px;
}

.bigedit:hover {
  background-color: #393939;
}

.Group > form{
  display: flex;
  flex-direction: row;
}

.bigdel {
  border-radius: 0;
  background-color: red;
  border: none;
  font-weight: bolder;
  font-size: 2em;
}
.bigdel:hover {
  background-color: rgb(180, 0, 0);
}

.GroupContainer:hover {
  transform: scale(1.03);
  background-color: #515151;
}

.Group > div {
  margin-left: 20px;
}

.Group > * {
  margin-top: auto;
  color: white;
  margin-bottom: auto;
}

.Group > img {
  height: 100%;
  object-fit: cover;
}

.NewItem {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}
.NewItemContainer {
  padding: 40px;
  width: 400px;
  height: 650px;
  border-radius: 40px;
  background-color: #393939;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.addNewButton {
  background-color: rgb(0, 197, 0);
  border: none;
  height: 30px;
  border-radius: 10px;
}

.addNewButton:hover {
  background-color: rgb(0, 154, 0);
}

.addNewButton:active {
  background-color: rgb(0, 83, 0);
}

.NewBottom > *  {
  margin-right: 20px;
}

.CloseButton {
  margin-top: 50px;
  border: none;
  height: 30px;
  border-radius: 10px;
}

.CloseButton:hover {
  background-color: #515151;
}

.CloseButton:active {
  background-color: #2f2f2f;
}

.ImgPreview {
  width: 400px;
  height: 300px;
  object-fit:cover
}

.SettingsPage {
  width: 100%; 
}

.SettingsPage > form {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.SettingsPage > form > input {
  width: 20em;
}